<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>todo list</title>
  </head>
  <body>
    <h1>Sing in</h1>
    <form action="/sessions" method="post">
      <label for="email">email</label>
      <input name="email" type="text">

      <label for="email">password</label>
      <input name="password" type="password">

      <button type="submit">Sign in</button>
    </form>
  </body>
</html>

